*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    max-width: 1300px;
    margin: 3rem auto;
}

.container-sx{
    width: 35%;
    background-color:#fff ;
    height: 100%;
}

.container-dx{
    width: 65%;
    border: 1px solid black;
}

/* .profilo, .silenzia, .search-bar{
    height: 10%;
}
.lista-contatti{
    height: 70%;
} */

/* classe di utility */

.roundend{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}

.img-cerchio{
    width: 40px;
    height: 40px;
    margin: 10px;
}


/* sezione profilo utente */


.profilo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#eaeaea;
}

.img-profilo, .pulsanti-profilo{
    width: 50%;
    display: flex;
    align-items: center;
}

.pulsanti-profilo{
    display: flex;
    flex-direction: row-reverse;
    color: #b1b1b1;
    margin-right: 5px;

}

.pulsanti-profilo i{
    margin: 5px;
}

/* sezione silenzia */

.silenzia{
    width: 100%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    height: 10%;

}

.silenzia i{
    color:  #8edafc;
    font-size: 20px;
}

.cerchio-icons{
    background-color: #fff;
    background-color: #fff;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
}

/* sezione search-bar */

.search-bar{
    width: 100%;
    background-color:#eaeaea;
    padding: 5px;

}

.input-ricerca{
    padding: 10px;
    margin: 5px;
    background-color: #fff;
}

.ciccio i{
    color:#b1b1b1;
}

.search-bar input{
    width: 90%;
    border: none;
    background-color: transparent;
    margin-left: 5px;
}
/* sezione lista contatti */

.lista-contatti{
    background-color: #fff;
}

.unstyled-list{
    list-style: none;
}

.unstyled-list li{
    margin: 10px 0px;
    padding: 5px;

}

.contatti{
    display: flex;
    align-items: center;
}



/* sezione profilo contatto */

.profilo-contatto{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.img-contatto, .pulsanti-contatto{
    width: 50%;
    border: 1px solid black;
    height: 100%;
    background-color:#eaeaea;
}

/* sezione chat */

.chat{
    height: calc(100% - 100px);
    background-color:green;
    width: 100%;
}

/* sezione send-message */

.send-message{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.emoticon, .vocal{
    width: 20%;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(255, 0, 21);
}

.input-text{
    width: 60%;
    height: 100%;
    border: 1px solid black;
    background-color: rgb(255, 0, 21);
}