*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    max-width: 1300px;
    margin: 3rem auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container-sx{
    width: 35%;
    background-color:#fff ;
}

.container-dx{
    width: 65%;
}

.parte-superiore{
    height: 200px;
}

/* .profilo, .silenzia, .search-bar{
    height: 10%;
}
.lista-contatti{
    height: 70%;
} */

/* classe di utility */

.roundend{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}

.img-cerchio{
    width: 40px;
    height: 40px;
    margin: 10px;
}


/* sezione profilo utente */


.profilo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#eaeaea;
}

.img-profilo, .pulsanti-profilo{
    width: 50%;
    display: flex;
    align-items: center;
}

.pulsanti-profilo{
    display: flex;
    flex-direction: row-reverse;
    color: #b1b1b1;
    margin-right: 5px;

}

.pulsanti-profilo i{
    margin: 5px;
}

/* sezione silenzia */

.silenzia{
    width: 100%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.silenzia i{
    color:  #8edafc;
    font-size: 20px;
}

.cerchio-icons{
    background-color: #fff;
    background-color: #fff;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
}

/* sezione search-bar */

.search-bar{
    width: 100%;
    background-color:#eaeaea;
    padding: 5px;

}

.input-ricerca{
    padding: 10px;
    margin: 5px;
    background-color: #fff;
}

.ciccio i{
    color:#b1b1b1;
}

.search-bar input{
    width: 90%;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    padding: 10px;
}
/* sezione lista contatti */

.lista-contatti{
    background-color: #fff;
    height: calc(100% - 200px);
}

.unstyled-list{
    list-style: none;
}

.unstyled-list li{
    margin: 10px 0px;
    padding: 5px;
    cursor: pointer;
}

.contatti{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-message, .last-data{
    font-size: 10px;
    color: #b1b1b1;
}

.info-contatti{
    display: flex;
    align-items: center;
}


/* sezione profilo contatto */

.profilo-contatto{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.img-contatto, .pulsanti-contatto{
    width: 50%;
    background-color:#eaeaea;
    display: flex;
    align-items: center;

}

.pulsanti-contatto{
    color: #b1b1b1;
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    
}

.pulsanti-contatto i{
    margin: 5px;
    margin-right: 10px;
}
/* sezione chat */

.chat{
    height: calc(100% - 100px);
    background-image: url(../img/mine.jpg);
    width: 100%;
    padding:5rem;

}

.message{
	padding: 0.5rem 1rem;
    min-height: 2.25rem;
    display: flex;
}

.sent{
    border-radius: 1.125rem 1.125rem  0 ;
    padding-top: 5px;
    background-color: #d5f9ba;
    padding: 0.5rem 1rem;
    min-height: 2.25rem;
	width: fit-content;
	max-width: 66%;
    margin: 20px 0px 30px 25rem;
    display: flex;
    flex-direction: row-reverse;
}

.receveid{
    padding: 0.5rem 1rem;
	background: rgb(238, 236, 236);
    min-height: 2.25rem;
	width: fit-content;
	max-width: 66%;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    margin: 20px 0px 30px 0px;
}


.dropdown-menu{
    display: none;
    margin: 10px 5px 20px 10px;
    border: 1px solid black;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px 0px #00000054;
}

.dropdown-trigger{
    border: none;
    background: transparent;
    margin-left: 1rem;
}

.dropdown-trigger:focus + .dropdown-menu,
.dropdown-trigger:active + .dropdown-menu {
  display: block;
} 
/* sezione send-message */

.send-message{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.emoticon, .vocal{
    width: 10%;

    background-color:#eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #b1b1b1;
}

.input-text{
    width: 80%;
    background-color:#eaeaea;
    display: flex;
    align-items: center;
    
}

.input-invio{
    width:100%;
    display: flex;
    justify-content: center;
}

.input-invio input{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;

}