<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.1/luxon.min.js" integrity="sha512-hZKz8wkgOcWeZanRioE6H6AC3OJspzJQyDBB5jLoZ1jIKbYDt5MwVIvU703WwE4sjvKZw9uNmmYlt29xKS27RA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <title>Boolzapp Con Vue.js</title>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="container-sx">
                    <div class="parte-superiore">
                        <div class="profilo">
                            <div class="img-profilo">
                                <div class="img-cerchio">
                                    <img src="./img/avatar_io.jpg" alt="img-profilo" class="roundend">
                                </div>
                                <div class="name">
                                    <p>Io</p>
                                </div>
                            </div>
                            <div class="pulsanti-profilo">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div class="silenzia">
                            <div class="cerchio-icons">
                                <i class="fa-regular fa-bell-slash"></i>
                            </div>
                            <div class="testo">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <a href="#">Attiva notifiche Desktop</a>
                            </div>
                        </div>
                        <div class="search-bar">
                            <div class="input-ricerca">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" placeholder="Cerca o Inizia Una nuova chat">
                            </div>
    
                        </div>

                    </div>
                    <div class="lista-contatti">
                        <ul class="unstyled-list">
                            <li v-for="(item, index) in contacts" @click="userClick(index)">
                                <div class="contatti">
                                    <div class="info-contatti">
                                        <div class="img-cerchio ">
                                            <img :src="`./img/avatar${item.avatar}.jpg`" class="roundend" :alt="item.name">
                                        </div>
                                        <div>
                                            {{item.name}}
                                            <div class="last-message">
                                                {{item.messages[item.messages.length-1].message}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-contatti">
                                        <div class="last-data">
                                            {{item.messages[item.messages.length-1].date}}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container-dx">
                    <div class="profilo-contatto">
                        <div class="img-contatto" >
                            <div class="img-cerchio ">
                                <img :src="`./img/avatar${contacts[itemActive].avatar}.jpg`" class="roundend" >
                            </div>
                            <div class="testo">
                                {{ contacts[itemActive].name }}
                            </div>
                        </div>
                        <div class="pulsanti-contatto">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                            <i class="fa-solid fa-paperclip"></i>
                        </div>

                    </div>
                    <div class="chat">
                        <div class="sent">
                            <div v-for="item in contacts">
                               {{ contacts[itemActive].messages[item.message] }}
                            </div>
                        </div>
                        <div class="receveid">
                            
                        </div>
                    </div>
                    <div class="send-message">
                        <div class="emoticon">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="input-text">
                            <div class="input-invio">
                                <input type="text" placeholder="Scrivi un messaggio">
                            </div>
                        </div>
                        <div class="vocal">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script text="text/javascprit" src="./js/script.js"></script>
    </body>
</html>